/**********************
 * Modele
 **********************/
 
#en_tete {
	border-bottom : 1px solid black;
	padding : 10px;
	height : 50px;
	margin-bottom : 50px;
}
 
#en_tete h2{
	float : left;
}

#identifiant {
	float : right;
	cursor : pointer;
}

#identifiant a {
	color : black;
	text-decoration : none;
}

.changeMdp {
	float : right;
	margin-top : -50px;
	padding : 10px;
	border : 1px solid black;
}

.changeMdp input, #different, #invalide, #changement {
	width : 200px;
	margin-bottom : 20px;
}

#menu {
	float : left;
	margin-left : 10px;
	margin-right : 30px;
	width : auto;
	height : 100%;
}

.menu {
	margin-bottom : 30px;
	display : block;
	text-decoration : none;
	color : #848484;
	cursor : pointer;
}

.select {
	color : #FF6464;
}

/**********************
 * Connexion
 **********************/

h1 {
	margin-top : 50px;
	text-align : center;
}

body, html {
	height : 100%;
	width : 100%;
}

#connexion {
	height : 300px;
	width : 400px;
	border : 1px solid black;
	position : relative;
	top : 50%;
	margin-top : -200px;
	margin-left : auto;
	margin-right : auto;
	padding-left : 10px;
}

#connexion form {
	text-align : center;
	margin-top : 60px;
}

#connexion input[type=text],#connexion input[type=password]{
	width : 350px;
	height : 30px;
	margin-bottom : 40px;
}

#erreur {
	color : #F00;
	margin-top : 10px;
	text-align : center;
}

/**********************
 * Page
 **********************/
 
 #page {
	position : relative; 
	margin-left: 200px;
	margin-right : 10px;
 }

.warning {
	height : 300px;
	width : 300px;
	margin-top : 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.retour {
	float : left;
	width : 100px;
}

.content {
	margin-left : 100px;
}
 
 /**********************
 * Bibliothèque d'imputation
 **********************/
 
 .navigation {
	margin-bottom : 30px;
 }
 
.navigation a{
	float:left;    
	margin-left:2px;
	text-decoration : none;
	color : white;
	font-weight : bold;
	font-style: italic
}

 /**********************
 * Modèle d'imputation
 **********************/

 .choix label {
 	display : inline-block;
 	width : 200px;
 }

 .choix button {
 	margin-left : 100px;
 }
 
 #copier_modele, #nouveau_modele {
	margin-bottom : 10px;
 }
 
 #msg {
 	margin-left : 100px;
	color : #FF6464;
 }

 #modele form {
 	margin-top : 50px;
 }

 label {
 	display : inline-block;
 	min-width : 200px;
 }

 #modele form input {
 	margin-bottom : 20px;
 }

 #modele table th, #modele table td {
	min-height : 50px;
	min-width : 20px;
	padding : 10px;
	border : 1px solid black;
 }

 #modele table .com {
	min-width : 300px;
 }

 #modele table .newLine input[type=text] {
	width : 90%;
	height: 20px;
 }

 #modele table .newLine input[type=checkbox] {
	float : right;
 }

 /**********************
 * Saisie Modèle d'imputation
 **********************/

 #saisie #saisie2 {
	float: left;
 }
 
 #saisie {
 	margin-top : 50px;
 }

 label {
 	display : inline-block;
 	min-width : 200px;
 }

 #saisie  input {
 	margin-bottom : 20px;
 }

 #saisie table th, #saisie table td {
	min-height : 50px;
	min-width : 20px;
	padding : 10px;
	border : 1px solid black;
 }

 #saisie table .com {
	min-width : 300px;
 }
 
 #champs_additionnel {
	float : right;
	margin-right : 10px;
 }
 
 #champs_additionnel div{
	font-weight : bold;
	min-height : 30px;
	min-width : 200px;
	border : 1px solid black;
	line-height : 3em;
	text-align : center;
	margin-bottom : 20px;
	cursor : pointer;
 }
 
 /**********************
 * Fichier congé
 **********************/

#chercherConge {
	margin-top : 80px;
}
 
 /**********************
 * Tableau de gestion
 **********************/
 
.tableSorter th, .tableSorter td {
	min-height : 50px;
	min-width : 100px;
	padding : 10px 20px;
	text-align : left;
}

.tableSorter {
	font-family : arial;
}

.tableSorter thead tr th {
	background-color: #F0F0F6;
	cursor : pointer;
}

.tableSorter thead tr .header {
	background-image : url(bg.gif);
	background-repeat : no-repeat;
	background-position : center right;
}

.tableSorter thead tr .headerSortUp {
	background-image : url(asc.gif);
}

.tableSorter thead tr .headerSortDown {
	background-image : url(desc.gif);
}

.tableSorter thead tr .headerSortDown, thead tr .headerSortUp {
	background-color : #FF6464;
}

.tableSorter input, table input, table textarea {
	width : 100%;
}

#fiche table .titre {
 	height : 50px;
 	width : 200px; 
}

#fiche {
	margin-top : 15px;
	border : 3px solid #848484;
	width : 800px;
}

#newProjet {
	border : 2px solid #848484;
	margin : 5px;
	width : 780px;
}

#listeSalarie {
	float : left;
}
 
 /**********************
 * Messages
 **********************/
 
 .erreur {
	position : relative;
	top : 10px;
	padding : 3px;
	border : 1px solid red;
	border-radius : 7px;
	opacity : 0.75;
	font-size : 0.7em;
 }
 
 .info {
	position : relative;
	top : 10px;
	padding : 3px;
	border : 1px solid black;
	border-radius : 7px;
	opacity : 0.75;
	font-size : 0.7em;
 }
 
 
